html, body {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5
{
  font-family: 'Poppins', sans-serif;
}

em
{
  font-style: normal;
  color: $primary;
}

mark
{
  color: #8E00FD;
}

body > div:first-child
{
  background-color: $primary !important;
  color: #fff;

  a
  {
    color: #fff;
    border-color: #fff;
  }
}



html, body {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5 {
  font-family: 'Poppins', sans-serif;
}

.lh-1 {
  line-height: 1;
}

.lh-1-5 {
  line-height: 1.5;
}

.lh-2 {
  line-height: 2;
}

em {
  font-style: normal;
  color: $primary;
}

mark {
  color: $primary;
}

div.resize-text {
  container-type: inline-size;
}


h1.primary {
  color: $primary;
}

.resize-text {
  h1 {
    font-weight: 600;
    font-size: 16cqw;
  }


  h2 {
    font-size: 7.5cqw;
    font-weight: 700;
  }
}

h2, h5 {


}

.amount-tax h5 {
  color: $primary;
}

h4 {

}

.amount-bank h5 {
  color: $secondary;
}

img.amount-bank, img.amount-position {
  width: 57%;
}

img.amount-bank-divider, img.amount-tax-divider {
  height: 80px;
}

img.bank-account-logo {
  width: 1em;
}

div .alert-danger a {
  color: $red
}

.flex-grow-container {
  flex-grow: 1;
}

.summary {
  border: solid 1px $secondary;
  padding: 1em;
  margin: 0.5em;
}

.entity-connect {
  border: solid 1px #ccc;
  padding: 1em;
  margin: 0.5em;

}

.entity-connect.xero {
  background-color: #13B6EA;
  color: #fff;
}

.entity-connect.coming-soon {
  background-color: #fefefe;
  color: #aaa;
}

.entity-summary {
  border: solid 1px $secondary;
  padding: 1em;
  margin: 0.5em;

  h3 {
    color: $primary;
    font-weight: 600;
  }
}

.nav .user-logged-in {
  color: #fff;
  font-size: 0.8em;
  line-height: 1;

  i {
    font-size: 2em;
  }
}

.unrounded-top-left
{
  border-top-left-radius: 0 !important;
}

.unrounded-top-right
{
  border-top-right-radius: 0 !important;
}

.unrounded-bottom-left
{
  border-bottom-left-radius: 0 !important;
}

.unrounded-bottom-right
{
  border-bottom-right-radius: 0 !important;
}

input:invalid {
    border-color: red;
}


.btn-qa-primary {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #{shade-color($primary, 10%)};
  --bs-btn-hover-border-color: #{shade-color($primary, 10%)};
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #{shade-color($primary, 20%)};
  --bs-btn-active-border-color: #{shade-color($primary, 20%)};
  font-size: 40pt;
  width: 100%;
  height: 100%;
}