html, body {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5
{
  font-family: 'Poppins', sans-serif;
}

em
{
  font-style: normal;
  color: $primary;
}

mark
{
  color: #8E00FD;
}