<h4 class="pb-2">Search Entities</h4>

<div class="row g-0 pt-2 border-top">
    <div class="col-6 mb-3 pe-2">
        <label class="form-label" for="entity_name">Legal Name/Trading Name(s)</label>
        <input type="text" class="form-control" placeholder="Acme Co Limited" id="entity_name" aria-describedby="entity_name_search_help" value="{% if entity %}{{ entity.name_legal }}{% elif transaction_payee %}{{ transaction_payee }}{% endif %}">
        <div id="entity_name_help" class="form-text form-control-sm ps-0">The name found in either trading or legal name(s) to import into new Entity.</div>
    </div>

    <div class="col-6 mb-3 ps-2">
        <label class="form-label" for="entity_contact">Address/Postcode/Website/Email</label>
        <input type="text" class="form-control" placeholder="Wellington" id="entity_contact" aria-describedby="entity_contact_search_help" value="">
        <div id="entity_contact_help" class="form-text form-control-sm ps-0">What is found in their address, post code, email and/or website.</div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <p>
            <a href="#" id="entities-search" class="btn btn-primary btn-sm px-4 gap-3 rounded-pill"><i class="bi bi-search"></i> Search Entities</a>
        </p>
    </div>
    <div class="col-6 text-end">
        <p>
            <a href="/app/entities/new?payee={% if transaction_payee %}{{ transaction_payee }}{% endif %}&reference={% if transaction_reference %}{{ transaction_reference }}{% endif %}&code={% if transaction_code %}{{ transaction_code }}{% endif %}&transaction_id={% if transaction_id %}{{ transaction.id }}{% endif %}" class="btn btn-secondary btn-sm px-4 gap-3 rounded-pill">Create Entity</a>
        </p>

    </div>
    <div id="entities-match-results"></div>
</div>