{% extends 'layouts/base.html' %}

{% block title %}Welcome{% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}
<div class="px-4 py-2 my-2 text-center">
    <h2 class="display-7 fw-bold">Reconciling <mark>{{ entity.name }}</mark><em>.</em></h2>
</div>
<div class="px-4 py-0 my-0">

    {% for transaction in reconcile.transactions %}
    <div class="row mb-4">

            <div class="col-6">
                <div class="card">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Date</th>
                            <th scope="col">Type</th>
                            <th scope="col">Desc</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <th scope="row">{{ transaction.datetime|format_datetime }}</th>
                            <td>{{ transaction.type }}</td>
                            <td>{{ transaction.desc }}</td>
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>



            <div class="col-6">

                <div class="card">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Type</th>
                                <th scope="col">Desc</th>
                                <th scope="col">Tax</th>
                                <th scope="col">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for transaction_line in transaction.lines %}


                            <tr>
                                <th scope="row">{{ loop.index }}</th>
                                <td>{{ transaction_line.type }}</td>
                                <td>{{ transaction_line.desc }}</td>
                                <td>{{ "%.2f"|format(transaction_line.amount_tax)|replace("-", "") }}</td>
                                <td>{{ "%.2f"|format(transaction_line.amount_total ) }}</td>
                            </tr>


                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

    </div>

    {% endfor %}
</div>
{% endblock content %}


<!-- Specific JS goes HERE -->
{% block javascript %}

{% endblock javascript %}
