
.idea/

.env

secrets.txt

app/__pycache__/

app/assets/img/.DS_Store

app/data/__pycache__/

app/helpers/__pycache__/

app/routers/__pycache__/

app/routers/__pycache__/

app/helpers/__pycache__/

app/assets/.DS_Store

app/data/__pycache__/

/helpers

node_modules/
