fastapi
python-dotenv
pydantic
psycopg2-binary
sqlalchemy
fastapi-sqlalchemy
watchdog
werkzeug
auth0-python
authlib
httpx
rauth
uvicorn
itsdangerous
fiscalyear
pandas
sentry-sdk[fastapi]
Jinja2
requests-oauthlib
requests
fastapi-sessions
python-multipart
pytz
PyJWT
