fastapi
python-dotenv
pydantic
psycopg2-binary
sqlalchemy
fastapi-sqlalchemy
watchdog
werkzeug
authlib
httpx
uvicorn
itsdangerous
fiscalyear
pandas
sentry-sdk[fastapi]
Jinja2
requests-oauthlib
requests
rauth
fastapi-sessions
python-multipart
xero-python
pytz
PyJWT
