{% extends 'layouts/base.html' %}

{% block title %}Reconciling Entities{% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}
<div class="px-4 py-4 my-4 col-12 ">
    <div class="col-sm-10 col-md-10 col-lg-8 mx-auto">
        <div class="container entity-detail text-center">
            <div class="row g-0">
                <div class="col col-12">
                    <div class="resize-text">
                        <h2>Entities<em>.</em></h2>
                    </div>
                     <p>Here are entities from <mark>Usable Balance</mark>.
                    </p>
                    <div class="row">

                        <div class="col-sm-12 ">
                            <a href="/" class="btn btn-primary px-4 gap-3 rounded-pill">Back to the Homepage</a>
                            <!-- <a href="/app/connection/myob" class="btn btn-lg btn-outline-primary px-4 gap-3">Connect another organisation via
                                MYOB</a> -->
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-6 border-end"></div>
                        <div class="col-sm-6">&nbsp;</div>
                    </div>
                    <div class="row">
                        <div class="input-group">

                                <a href="/app/entities/?page={{ page - 1  | default('', true) }}&per_page={{ per_page  | default('', true) }}&search={{ search  | default('', true) }}" class="btn btn-outline-primary rounded-pill unrounded-top-right unrounded-bottom-right {% if page == 1 %}disabled{% endif %}" type="button">Prev Page</a>


                                <input type="text" class="form-control" id="transactions-search-keyword-text" placeholder="Search..." aria-label="Search" aria-describedby="search-addon" value="{{ search | default('', true)}}">
                              <a class="input-group-text btn btn-secondary" id="transactions-search-keyword">
                                <i class="bi bi-search"></i>
                              </a>

                                <a href="/app/entities/?page={{ page + 1  | default('', true) }}&per_page={{ per_page  | default('', true) }}&search={{ search  | default('', true) }}" class="btn btn-outline-primary rounded-pill unrounded-top-left unrounded-bottom-left" type="button" id="button-addon2">Next Page</a>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 border-end"></div>
                        <div class="col-sm-6">&nbsp;</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% for entity in entities.entities %}


         <div class="row">
            <div class="col-sm-6 border-end"></div>
            <div class="col-sm-6">&nbsp;</div>
        </div>
        <div class="row entity">
            <div class="col-sm-3 border rounded-top-5 border-bottom-0 border-end-1 p-3 pb-0 pe-3 ps-3 unrounded-top-right resize-text">

                {% if entity.identifier|get_value_from_key('GS1') %}
                <p><small>NZBN: <a href="https://nzbn.govt.nz/mynzbn/nzbndetails/{{ entity.identifier|get_value_from_key('GS1') }}/" target="_blank">{{ entity.identifier|get_value_from_key('GS1') }}</a></small></p>
                {% endif %}

                <h2>{{ entity.name }}</h2>
                {% if entity.identifier|get_values_from_key('TRADINGNAME') %}
                <p class="mb-0"><small><em>Trading Names</em></small></p>
                <p>{{ entity.identifier|get_values_from_key('TRADINGNAME')|join(', ') }}</p>
                {% endif %}


            </div>
            <div class="col-sm-4 border-top pb-0 p-3 pe-5 ps-5 resize-text">

                    <p class="mb-0"><small><em>Description</em></small></p>
                    <p>{{ entity.desc }}</p>

                    <p class="mb-0"><small><em>Address</em></small></p>
                    <p>
                        {% if entity.contact|get_value_from_key('ADDRESS') %}
                            {{ entity.contact|get_value_from_key('ADDRESS') }},
                        {% endif %}
                        {% if entity.contact|get_value_from_key('POSTCODE') %}
                        {{ entity.contact|get_value_from_key('POSTCODE') }},
                        {% endif %}
                        {{ entity.country }}
                    </p>

            </div>
            <div class="col-sm-5 border rounded-top-5 border-bottom-0 border-start-0 pb-0 p-3 pe-3 unrounded-top-left bg-body-secondary">

                <p><small>Payee</small></p>

                <ul>
                    <li>{% for value in entity.feed|get_values_from_key('BANK:PAYEE') %}{{ value|safe }}{% if not loop.last %}</li><li>{% endif %}{% endfor %}</li>
                </ul>


            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 border border-top-0 rounded-bottom-5 border-end-1 ps-3 unrounded-bottom-right">
                <p>


                </p>
            </div>
            <div class="col-sm-4 border-bottom ps-3 text-center">
                <!--
                <p>
                    <a href="/app/entities/{{ entity.id }}" class="btn btn-primary btn-sm px-4 gap-3 rounded-pill"><i class="bi bi-check-circle-fill"></i> Entity</a>

                </p>-->
            </div>
            <div class="col-sm-5 border border-top-0 rounded-bottom-5 border-start-0 pe-3  unrounded-bottom-left text-end bg-body-secondary">
                <p>
                    <a href="/app/entities/{{ entity.id }}" class="btn btn-secondary btn-sm px-4 gap-3 rounded-pill">Edit Entity</a>
                </p>
            </div>
        </div>


        {# Update the tracking variables at the end of each iteration #}

    {% endfor %}
</div>
{% endblock content %}


<!-- Specific JS goes HERE -->
{% block javascript %}

{% endblock javascript %}
