{% extends 'layouts/base.html' %}

{% block title %}Logging in...{% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}
<div class="px-4 py-5 my-5 text-center">
    <h3 class="display-5 fw-bold">Getting things ready...</h3>
</div>
{% endblock content %}


<!-- Specific JS goes HERE -->
{% block javascript %}
<script type="text/javascript">
    window.onload = function () {
        location.href = sessionStorage.getItem('auth_redirect')
    }
</script>

{% endblock javascript %}