{% extends 'layouts/base.html' %}

{% block title %}Logging in...{% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}
<div class="px-4 py-5 my-5 text-center">
    <h3 class="display-5 fw-bold">Getting things ready...</h3>
</div>
{% endblock content %}


<!-- Specific JS goes HERE -->
{% block javascript %}
<script type="text/javascript">
    window.onload = function () {
        const params = new URLSearchParams(window.location.search);

        function generateRandomString(length) {
            const characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
            let result = '';
            const charactersLength = characters.length;
            for (let i = 0; i < length; i++) {
                result += characters.charAt(Math.floor(Math.random() * charactersLength));
            }
            return result;
        }

        if (!params.get('state')) {
            // Create unique state to send with login
            state_unique = generateRandomString(20)
            redirect_url = "{{ env['UB_APP_BASE'] }}"
            sessionStorage.setItem('auth_state', state_unique)
            sessionStorage.setItem('auth_redirect', redirect_url)
            timezone = Intl.DateTimeFormat().resolvedOptions().timeZone
            sessionStorage.setItem('timezone', timezone)
            location.href = window.location.pathname + "?timezone=" + timezone + "&state=" + state_unique + "&redirect=" + encodeURIComponent(redirect_url)
        }
    }
</script>

{% endblock javascript %}