<div class="row mt-3">
    <h3>Matched External Entities</h3>
    <table class="table table-bordered">
        <thead>
        <tr>
            <!-- <th scope="col">Source</th> -->
            <th scope="col" style="width: 25%;">Trading Name(s)</th>
            <th scope="col" style="width: 65%;">Entity</th>
            <th style="width: 10%;"></th>
        </tr>
        </thead>
    {% for entity in entities %}

    <tbody>
        <tr>
            <!-- <td>{{ entity.source }}</td> -->
            <td>{{ entity.identifier | get_values_from_key('TRADINGNAME') | join(', ') }}</td>
            <td><p class="mb-0">{{ entity.name }}</p>
                {% if entity.classification | get_value_from_key('BICDESC') %}
                <p class="mb-0"><em>{{ entity.classification | get_value_from_key('BICDESC') }}</em></p>
                {% endif %}
                <p class="mb-0">{{ entity.contact|get_value_from_key('ADDRESS') }}, {{ entity.contact|get_value_from_key('POSTCODE') }}</p>
            </td>
            <td>
                {% if entity.entity_matched %}
                <a
                    href="/app/entities/{{ entity.id }}"
                    class="btn btn-secondary btn-sm px-4 gap-3 rounded-pill"
                    ><i class="bi bi-pencil-fill"></i> Entity Exists</a>
                {% else %}
                <a
                    href="#"
                    class="btn btn-primary btn-sm px-4 gap-3 rounded-pill ext-entity-transaction-match"
                    data-entity-id="{{ entity.id }}"
                    data-entity-identifier-nzbn="{{ entity.identifier|get_value_from_key('GS1') }}"
                    data-entity-identifier-nzgst="{{ entity.identifier|get_value_from_key('NZ:GST') }}"
                    data-entity-identifier-ird="{{ entity.identifier|get_value_from_key('IRD') }}"
                    data-entity-name="{{ entity.name }}"
                    data-entity-identifier='{{ entity.identifier | tojson | safe }}'
                    data-entity-contact-address="{{ entity.contact|get_value_from_key('ADDRESS') }}"
                    data-entity-contact-phone="{{ entity.contact|get_value_from_key('PHONE') }}"
                    data-entity-contact-postcode="{{ entity.contact|get_value_from_key('POSTCODE') }}"
                    data-entity-contact-country="{{ entity.contact|get_value_from_key('COUNTRY') }}"
                    data-entity-contact-website="{{ entity.contact|get_value_from_key('WEBSITE') }}"
                    data-entity-contact='{{ entity.contact | tojson | safe }}'
                    data-entity-classification='{{ entity.classification | tojson | safe }}'
                    data-entity-classification-bic-code="{{ entity.classification | get_value_from_key('BICCODE') }}"
                    data-entity-classification-bic-desc="{{ entity.classification|get_value_from_key('BICDESC') }}"
                    data-entity-country='{{ entity.country }}'
                ><i class="bi bi-clipboard-plus-fill"></i> Copy</a>
                {% endif %}
            </td>
        </tr>

    </tbody>

    {% endfor %}
    </table>
</div>