{% extends 'layouts/base.html' %}

{% block title %}Sign up or Login{% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}
<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">We need you to login again.</em></h1>
    <div class="col-lg-6 mx-auto pt-5">
        <p class="lead mb-4">You may have hung around a bit too long on here without doing anything, login again to get started.</p>
        <p><small>(Error message: {{ detail }})</small></p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center pt-5">
            <a href="/auth/login" class="btn btn-primary btn-lg px-4 gap-3">Login</a>
        </div>
    </div>
  </div>
{% endblock content %}


<!-- Specific JS goes HERE -->
{% block javascript %}

{% endblock javascript %}
