{% extends 'layouts/base.html' %}

{% block title %}Sign up or Login{% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}
<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Reconcile <mark>usable</mark> bank balance<em>.</em></h1>
    <div class="col-lg-6 mx-auto pt-5">
            <a href="/auth/login" class="btn btn-primary btn-lg px-4 gap-3">Reconcile.</a>
        </div>
    </div>
  </div>
{% endblock content %}


<!-- Specific JS goes HERE -->
{% block javascript %}

{% endblock javascript %}
