{% extends 'layouts/base.html' %}

{% block title %}Privacy and Data Agreement{% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}
<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Legal</h1>
    <div class="col-lg-6 mx-auto pt-5">
        <h3>Introduction</h3>
        <p class="lead mb-4"><span>Welcome to </span><b>whatsleft</b><span>! We take the privacy and protection of your data very seriously. We want you to clearly understand how we collect, use, and store your data, and how you can end this agreement if you so choose.</span><span><br /></span><span><br /></span><span>In this agreement </span><b>&lsquo;whatsleft&rsquo;</b><span>, </span><b>&lsquo;we&rsquo;</b><span>, </span><b>&lsquo;us&rsquo;</b><span>, </span><b>&lsquo;our&rsquo; </b><span>and any sub brands such as</span><b> Usable Balance&rsquo; </b><span>is </span><b>whatsleft </b><span>and </span><b>&lsquo;you&rsquo; </b><span>and </span><b>&lsquo;your&rsquo; </b><span>is </span><b>you </b><span>- the person or organisation that is using our services.</span></p>
<p><span>We may update this agreement from time to time, and we&rsquo;ll notify </span><b>you</b><span> when we do via email. Continuing to use our services after the change becomes effective means </span><b>you</b><span> agree to the new agreement.</span></p>
    </div>
    <div class="col-lg-6 mx-auto pt-5">
        <h3>Purpose:</h3>
        <p class="lead mb-4"><b>whatsleft </b><span>is a platform that helps </span><b>you</b><span> gain realtime, actionable insights from </span><b>your</b><span> financial information. Our services allow </span><b>you</b><span> to connect data sources (such as a bank account, Xero, or the IRD) so that we can generate realtime insights on </span><b>your</b><span> behalf (such as </span><b>your</b><span> Usable Balance - how much money in </span><b>your</b><span> account is safe to spend).</span></p>
    </div>
    <div class="col-lg-6 mx-auto pt-5">
        <h3>Data Handling:</h3>
        <p class="lead mb-4"><b>whatsleft </b><span>is a platform that helps </span><b>you</b><span> gain realtime, actionable insights from </span><b>your</b><span> financial information. Our services allow </span><b>you</b><span> to connect data sources (such as a bank account, Xero, or the IRD) so that we can generate realtime insights on </span><b>your</b><span> behalf (such as </span><b>your</b><span> Usable Balance - how much money in </span><b>your</b><span> account is safe to spend).</span></p>
    </div>
    <div class="col-lg-6 mx-auto pt-5">
        <h3>Consent & Privacy:</h3>
        <p class="lead mb-4">By using our services <b>you</b> give consent for us to access any accounts that <b>you</b> have connected to <b>whatsleft </b>on <b>your</b> behalf. <b>You</b> may revoke this consent at any time by contacting us at <a href="mailto:legal@whatsleft.nz">legal@whatsleft.nz</a>.</p>
<p>We comply with the Privacy Act 2020 in relation to any personal information that we obtain or have access to as part of us providing the services to <b>you</b>.</p>
    </div>
    <div class="col-lg-6 mx-auto pt-5">
        <h3>Limitation of Liability:</h3>
        <p class="lead mb-4"><b>whatsleft </b><span>is provided on an &ldquo;as is&rdquo; and &ldquo;as available&rdquo; basis. To the fullest extent permitted by law, we disclaim all warranties and conditions, express or implied. Our entire liability shall be limited to damages of an amount equal to a large flat white from Fidel&rsquo;s Cafe (Wellington).</span></p>
    </div>
</div>
{% endblock content %}


<!-- Specific JS goes HERE -->
{% block javascript %}

{% endblock javascript %}
