{% extends 'layouts/base.html' %}

{% block title %}{% if entities|length > 0 %}Browsing Businesses{% else %}Connect your first Business{% endif %}{% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}
<div class="text-center">
    <!-- <h2 class="display-7 fw-bold">Nau mai, welcome <mark>{{ user.details.name }}</mark><em>.</em></h2> -->

    {% if entities|length > 0 %}
    <div class="px-4 py-4 my-4 col-12 text-center">
        <h1 class="display-5 fw-bold">Connected businesses<em>.</em></h1>
        <p class="lead">Below are the businesses you've connected to
            <mark>Usable Balance</mark>
            .
        </p>
    </div>
    <div class="col-lg-8 g-0 mx-auto pt-1">
        <div class="container">

            {% for entity in entities %}

            {% if loop.index % 2 == 1 %}
            <div class="row g-0">
                <div class="d-flex flex-column flex-md-row">
                    {% endif %}



            <div class="col-md-6 entity-summary px-4 py-4 my-4 d-flex flex-column">
    <div class="flex-grow-container">

        <h5 class="w-100">{{ entity.name }}
            {% if entity.status.connection_state == "NEW" %}
            <i class="bi bi-record-circle-fill"></i>
            {% elif entity.status.connection_state == "CONNECTED" %}
            {% if entity.status.connection_status == "IDLE" %}
            <i class="bi bi-check-circle-fill"></i>
            {% elif entity.status.connection_status == "ERROR" %}
            <i class="bi bi-exclamation-circle-fill"></i>
            {% elif entity.status.connection_status == "SYNC" %}
            <i class="bi bi-arrow-down-circle-fill"></i>
            {% elif entity.status.connection_status == "SYNC_ENTITY" %}
            <i class="bi bi-arrow-down-circle-fill"></i>
            {% elif entity.status.connection_status == "SYNC_ACCOUNTS" %}
            <i class="bi bi-arrow-down-circle-fill"></i>
            {% elif entity.status.connection_status == "SYNC_TRANSACTIONS" %}
            <i class="bi bi-arrow-down-circle-fill"></i>
            {% endif %}
            {% elif entity.status.connection_state == "DISCONNECTED" %}
            <i class="bi bi-exclamation-circle-fill"></i>
            {% endif %}
        </h5>

        <h3>{{ "${:,.2f}".format(entity.balance.amount_usable) }}</h3>
        {% if entity.status.connection_state == "DISCONNECTED" %}
        <p class="text-danger"><small><i
                class="bi bi-exclamation-circle-fill"></i> Please reconnect this business to keep your usable balance up
            to date. </small></p>
        {% else %}
        <p><small>Estimate of
            <mark>usable balance</mark>
            right now <i class="bi bi-question-circle-fill"></i></small></p>
        {% endif %}


    </div>
    <p class="mt-auto">
        <a href="/app/reconcile/{{ entity.id }}" class="btn btn-primary px-4 gap-3">Reconcile Usable
            Balance</a></p>

</div>


                    {% if loop.index % 2 == 0 or loop.last %}
                </div>
            </div> <!-- End of row -->
            {% endif %}

            {% endfor %}

        </div>
    </div>
    <div class="col-lg-12 mx-auto pt-5">
        <a href="/app/connection" class="btn btn-lg btn-outline-primary px-4 gap-3">Connect another business
            to Usable Balance</a>
    </div>

    {% else %}
    {% include 'pages/app/block/entity-onboard.html' %}
    {% endif %}


</div>
{% endblock content %}


<!-- Specific JS goes HERE -->
{% block javascript %}

{% endblock javascript %}

