{% extends 'layouts/base.html' %}

{% block title %}{% if entities|length > 0 %}Browsing Businesses{% else %}Connect your first Business{% endif %}{% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}
<div class="text-center">
    <!-- <h2 class="display-7 fw-bold">Nau mai, welcome <mark>{{ user.details.name }}</mark><em>.</em></h2> -->
    :D


</div>
{% endblock content %}


<!-- Specific JS goes HERE -->
{% block javascript %}

{% endblock javascript %}

